<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<title>Cadastro de Veiculo</title>
</head>
<body>
	<h1>Gerenciar Cadastro de Veiculo</h1><br>
	<hr width="20%" align="left" >
	<a href="/"><button type="button">Reservar Veiculo</button></a>
	<hr width="20%" align="left" >
	<br>
	<article>
			<form action="/incluirVeiculo" method="post">
				<input id="placaVeiculo" type="text" name="placaVeiculo" placeholder="Placa" {% if op == 'alterar'%} value="{{veiculoAalterar.placa}}" {% endif %}>
				<br>
				<input id="marcaVeiculo" type="text" name="marcaVeiculo" placeholder="Marca" {% if op == 'alterar'%} value="{{veiculoAalterar.marca}}" {% endif %}>
				<br>
				<input id="modeloVeiculo" type="text" name="modeloVeiculo" placeholder="Modelo" {% if op == 'alterar'%} value="{{veiculoAalterar.modelo}}" {% endif %}>
				<br>
				<textarea id="observacaoVeiculo" name="observacaoVeiculo" placeholder="Observação">{% if op == 'alterar'%}{{veiculoAalterar.observacao}}{% endif %}</textarea>
				<br>
				<input id="salvarVeiculo" type="submit" value="Salvar" name="acao">
				<input id="cancelarAcao" type="reset" value="Cancelar">
			</form>
			<br>
		    {% if op != 'alterar'%} 
			<table id="veiculosCadastrados" border=2 cellspacing=1 cellpadding=5>
				<tr>
					<th>Placa</th>
					<th>Marca</th>
					<th>Modelo</th>
					<th>Observação</th>
					<th colspan="2"></th>
				</tr>
			{% endif %}
				{% for veiculo in listaVeiculos %}
					<tr>
						<td>{{veiculo.placa}}</td>
						<td>{{veiculo.marca}}</td>
						<td>{{veiculo.modelo}}</td>
						<td>{{veiculo.observacao}}</td>
						<td><a href="/alterarVeiculo?placaAlterar={{veiculo.placa}}">Alterar</a></td>
						<td><a href="/excluirVeiculo?placaExcluir={{veiculo.placa}}">Excluir</a></td>
					</tr>
				{% endfor %}

			</table>
	</article>
	{% for m in mensagem %}
		<script>alert('{{m}}');</script>
		{% endfor %}
</body>
</html>