<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<title>Realizar Reserva</title>
</head>
<body>
	<h1>Reserva de Veiculo</h1>
	<hr width="30%" align="left" >
	<a href="gerenciarReserva"><button type="button">Gerenciar Reservas</button></a>
	<a href="gerenciarVeiculo"><button type="button">Gerenciar Veiculo</button></a>
	<a href="cadastrarRota"><button type="button">Cadastrar Rota</button></a>
	<hr width="30%" align="left" >
	<br>
	<article>
		<form action="/incluirReserva" method="post">

			<select id="veiculo" name="veiculo">
					{% if op != 'alterar' %} 
						<option disabled selected>Veiculo</option>
					{% endif %}
					
					{% for veiculo in listaVeiculos %}
						<option 
						{% if op == 'alterar' %} 
							{% if reservaAalterar.veiculo.placa == veiculo.placa %} 
								selected
							{% endif %}
						{% endif %}
						value='{{veiculo.placa}}'>{{veiculo.placa}}</option>
					{% endfor %}
			</select>
			<label>Data da Viagem:</label>
			<input id="dataAgendamento" type="date" name="dataAgendamento" {% if op == 'alterar'%} value="{{reservaAalterar.data}}" {% endif %}>
			<br><br>

			<label>Rota:</label>
			<select id="rota" name="rota">
				{% if op != 'alterar' %} 
				<option disabled selected>Rota</option>
				{% endif %}
				
				{% for rota in listaRotas %}
					<option 
					{% if op == 'alterar' %} 
						{% if reservaAalterar.rota.id == rota.id %} 
							selected
						{% endif %}
					{% endif %}
					value='{{rota.id}}'>{{rota.partida}}/{{rota.destino}}</option>
				{% endfor %}
			</select>
			<br><br>

			<input id="salvarReserva" type="submit" value="Salvar" name="acaoReserva">
			<input id="cancelarAcaoReserva" type="reset" value="Cancelar">

			{% if op == 'alterar' %} 
				<br>ALTERANDO <input type=hidden name="idReserva" value={{reservaAalterar.id}}>
			{% endif %}
		</form>
	</article>
	{% for m in mensagem %}
		<script>alert('{{m}}');</script>
	{% endfor %}
</body>
</html>