<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<title>Realizar Reserva</title>
</head>
<body>
	<h1>Reserva de Veiculo</h1>
	<hr width="30%" align="left" >
	<a href="gerenciarReserva"><button type="button">Gerenciar Reservas</button></a>
	<a href="gerenciarVeiculo"><button type="button">Gerenciar Veiculo</button></a>
	<a href="cadastrarRota"><button type="button">Cadastrar Rota</button></a>
	<hr width="30%" align="left" >
	<br>
	<article>
		<form method="post">
			<select id="veiculo" name="veiculo">
			  <option disabled selected>Veiculo</option>
			  <option value="ABC-0000">ABC-0000</option>
			  <option value="ABC-0001">ABC-0001</option>
			  <option value="ABC-0002">ABC-0002</option>
			  <option value="ABC-0003">ABC-0003</option>
			</select>
			<br><br>
			<input id="comMotorista" type="radio" name="motorista" value="comMotorista">com Motorista
			<input id="semMotorista" type="radio" name="motorista" value="semMotorista">sem Motorista<br>
			<br><br>
			<label>Data da Viagem:</label>
			<input id="dataAgendamento" type="date" name="dataAgendamento">
			<label>Horario de saída:</label>
			<input id="horarioSaida" type="time" name="horarioSaida">
			<br><br>
			<label>Destino:</label>
			<input id="destinoViagem" type="text" name="destinoViagem">
			<br><br>
			<input id="salvarReserva" type="submit" value="Salvar" name="acaoReserva">
			<input id="cancelarAcaoReserva" type="reset" value="Cancelar">
		</form>
	</article>
	<br><br>
	<footer><a href="imgMapaNavegacao">Mapa de Navegação</a></footer>
</body>
</html>