<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<title>Formulario Inclusão de Pessoa</title>
</head>
<body>
  <h1>Inclusão de Pessoa</h1>
  <form action="/incluir_pessoa">
    <label>Nome:</label><input type="text" name="nome"><br>
    <label>Endereço:</label><textarea name="endereco"></textarea><br>
    <label>Telefone:</label><input type="text" name="telefone"><br>
    <label>Email:</label><input type="text" name="email"><br>
    <input type="submit" value="incluir">
  </form>

  <p>{{ msn }}</p>

</body>
</html>