<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<title>Reservas</title>
</head>
<body>
	<h1>Reservas</h1>
	<br>
	<a href="/"><button type="button">Reservar Veiculo</button></a>
	<br><br>
	<table id="agenda" border=2 cellspacing=1 cellpadding=5>
		<tr>
			<th>Veiculo</th>
			<th>Data</th>
			<th>Horario</th>
			<th>Rota</th>
			<th>Observação</th>
			<th colspan="2"></th>
		</tr>
		{% for reserva in listaReservas %}
		<tr>
			<td>{{reserva.placa}}</td>
			<td>{{reserva.data}}</td>
			<td>{{reserva.horario}}</td>
			<td>{{reserva.rota}}</td>
			<td>{{reserva.obsMotorista}}</td>
			<td><a href="/.html">Alterar</a></td>
			<td><a href="/.html">Excluir</a></td>
		</tr>
		{% endfor %}
	</table>
</body>
</html>